---
# layout for "multiple" display template
# creates large images with a gallery feature
layout: item/item-page-base
gallery: true
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="mb-4 text-center">

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
     {% for child in children %}
    <div class="carousel-item active">
      <img src="{{ child.image_small | relative_url }}" class="d-block w-100" alt="{{ child.image_alt_text | default: child.description | default: child.title | default: page.title | escape }}">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="my-2">

        {% include item/child/compound-item-download-buttons.html %}

    </div>

</div>
